.ant-layout-header {
    font-size: large;
    font-weight: bold;
    color: #ccca82;
    background: #0f1d27;
}

[data-theme='dark'] .ant-layout-header {
    background: #2b3618;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*='ant-layout-'] {
        width: 100%;
        margin: auto;
    }
}

.layout.ant-btn-link {
    color: #fff;
}

.campaign-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
}
